In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/original/Entrenamiento.csv")
df = df[(df['Stage']!='Proposal') & (df['Stage']!='Negotiation') & (df['Stage']!='Qualification')]

In [3]:
df = df[['Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved','Stage']]
df

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Stage
0,1,1,Closed Lost
1,0,0,Closed Won
2,0,0,Closed Won
3,1,0,Closed Lost
4,1,0,Closed Lost
...,...,...,...
16942,1,1,Closed Won
16943,1,1,Closed Won
16944,1,1,Closed Won
16945,1,1,Closed Lost
16946,1,1,Closed Lost

In [4]:
df['Pricing, Delivery_Terms_Quote_Appr'].value_counts()

1    13629
0     3254
Name: Pricing, Delivery_Terms_Quote_Appr, dtype: int64

In [5]:
conditionlist = [
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 1) & (df['Pricing, Delivery_Terms_Approved'] == 1),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 1) & (df['Pricing, Delivery_Terms_Approved'] == 0),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 0) & (df['Pricing, Delivery_Terms_Approved'] == 1),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 0) & (df['Pricing, Delivery_Terms_Approved'] == 0)]
choicelist = [1, 2, 3, 4]

df['estado1'] = np.select(conditionlist, choicelist, default='Not Specified')
df['estado1'].value_counts().sort_index()

1    9847
2    3782
4    3254
Name: estado1, dtype: int64

In [6]:
conditionlist = [
    (df['Pricing, Delivery_Terms_Approved'] == 1) & (df['Stage'] == 'Closed Won'),
    (df['Pricing, Delivery_Terms_Approved'] == 1) & (df['Stage'] == 'Closed Lost'),
    (df['Pricing, Delivery_Terms_Approved'] == 0) & (df['Stage'] == 'Closed Won'),
    (df['Pricing, Delivery_Terms_Approved'] == 0) & (df['Stage'] == 'Closed Lost')]
choicelist = [5, 6, 7, 8]

df['estado2'] = np.select(conditionlist, choicelist, default=8)
df['estado2'].value_counts().sort_index()

5    6404
6    3443
7    3129
8    3907
Name: estado2, dtype: int64

In [7]:
e1 = df['estado1'].value_counts().sort_index().values
e2 = df['estado2'].value_counts().sort_index().values
values = np.concatenate((e1, e2), axis=None).tolist()
values

[9847, 3782, 3254, 6404, 3443, 3129, 3907]