In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [72]:
df = pd.read_csv("../data/original/Entrenamiento.csv")

In [73]:
df = df[['Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved','Stage']]
df

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Stage
0,1,1,Closed Lost
1,0,0,Closed Won
2,0,0,Closed Won
3,1,0,Closed Lost
4,1,0,Closed Lost
...,...,...,...
16942,1,1,Closed Won
16943,1,1,Closed Won
16944,1,1,Closed Won
16945,1,1,Closed Lost
16946,1,1,Closed Lost

In [74]:
df['Pricing, Delivery_Terms_Quote_Appr'].value_counts()

1    13693
0     3254
Name: Pricing, Delivery_Terms_Quote_Appr, dtype: int64

In [75]:
conditionlist = [
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 1) & (df['Pricing, Delivery_Terms_Approved'] == 1),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 1) & (df['Pricing, Delivery_Terms_Approved'] == 0),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 0) & (df['Pricing, Delivery_Terms_Approved'] == 1),
    (df['Pricing, Delivery_Terms_Quote_Appr'] == 0) & (df['Pricing, Delivery_Terms_Approved'] == 0)]
choicelist = [1, 2, 3, 4]

df['estado1'] = np.select(conditionlist, choicelist, default='Not Specified')
df

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Stage,estado1
0,1,1,Closed Lost,1
1,0,0,Closed Won,4
2,0,0,Closed Won,4
3,1,0,Closed Lost,2
4,1,0,Closed Lost,2
...,...,...,...,...
16942,1,1,Closed Won,1
16943,1,1,Closed Won,1
16944,1,1,Closed Won,1
16945,1,1,Closed Lost,1
16946,1,1,Closed Lost,1

In [89]:
conditionlist = [
    (df['Pricing, Delivery_Terms_Approved'] == 1) & (df['Stage'] == 'Closed Won'),
    (df['Pricing, Delivery_Terms_Approved'] == 1) & (df['Stage'] == 'Closed Lost'),
    (df['Pricing, Delivery_Terms_Approved'] == 0) & (df['Stage'] == 'Closed Won'),
    (df['Pricing, Delivery_Terms_Approved'] == 0) & (df['Stage'] == 'Closed Lost')]
choicelist = [5, 6, 7, 8]

df['estado2'] = np.select(conditionlist, choicelist, default=8)
df

,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Stage,estado1,estado2
0,1,1,Closed Lost,1,6
1,0,0,Closed Won,4,7
2,0,0,Closed Won,4,7
3,1,0,Closed Lost,2,8
4,1,0,Closed Lost,2,8
...,...,...,...,...,...
16942,1,1,Closed Won,1,5
16943,1,1,Closed Won,1,5
16944,1,1,Closed Won,1,5
16945,1,1,Closed Lost,1,6
16946,1,1,Closed Lost,1,6

In [110]:
e1 = df['estado1'].value_counts().values
e2 = df['estado2'].value_counts().values
values = np.concatenate((e1, e2), axis=None).tolist()
values

[9890, 3803, 3254, 6404, 3971, 3443, 3129]